.spacing {
  margin: 40px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.title {
  font-size: 24px;
  margin-right: 20px;
}

.addButton {
  padding: 5px 10px;
  cursor: pointer;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 72px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
