.spacing {
  padding: 40px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.title {
  font-size: 24px;
  margin-right: 20px;
}

.addButton {
  padding: 5px 10px;
  cursor: pointer;
}

.centerGrid {
  display: flex;
  justify-content: center;
}
