.container {
  position: relative;
  overflow: auto;
}

.scrollContainer {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 1000px;
  max-height: calc(100vh - 160px);
  max-height: calc(100dvh - 160px);
}

.scrollToTopButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}
